extends layout

block content
  h1= title
  div#app
    div#friends
      table(class="table table-sm")
        thead
          th(colspan="1") プレイヤー情報
          th(colspan="6") 艦艇情報
          th(colspan="4") 艦艇統計
          th(colspan="4") プレイヤー統計

        tr
          td プレイヤー名
          td 艦艇名
          td 艦種
          td Tier
          td 国籍
          td 艦艇隠蔽距離
          td 魚雷射程

          td 戦闘数
          td 勝率
          td ダメージ
          td K/D

          td 戦闘数
          td 勝率
          td ダメージ
          td K/D
          
        tr(v-for="player of friends")
          // プレイヤー情報
          td
            {{ player.player_stat.clan_tag }}{{ player.player_stat.name }}

          // 艦艇情報
          td
            {{ player.ship_info.name }}
          td
            div(v-if="player.ship_info.type === 'AirCarrier'")
              img(v-bind:src="images.AirCarrier.image")
            div(v-else-if="player.ship_info.type === 'Battleship'")
              img(v-bind:src="images.Battleship.image")
            div(v-else-if="player.ship_info.type === 'Cruiser'")
              img(v-bind:src="images.Cruiser.image")
            div(v-else-if="player.ship_info.type === 'Destroyer'")
              img(v-bind:src="images.Destroyer.image")
            div(v-else)
              {{ player.ship_info.type }}
          td
            {{ player.ship_info.tier }}
          td
            {{ nations[player.ship_info.nation] }}
          td
            {{ player.ship_info.detect_distance_by_ship }}
          td
            {{ player.ship_info.torpedoes_distance }}

          // 艦艇統計
          td
            {{ player.ship_stat.battles }}
          td
            {{ player.ship_stat.win_rate }}
          td
            {{ player.ship_stat.average_damage }}
          td
            {{ player.ship_stat.kill_death_rate }}
          
          // プレイヤー統計
          td
            {{ player.player_stat.battles }}
          td
            {{ player.player_stat.win_rate }}
          td
            {{ player.player_stat.average_damage }}
          td
            {{ player.player_stat.kill_death_rate }}
    div#enemies
      table(class="table table-sm")
        thead
          th(colspan="1") プレイヤー情報
          th(colspan="6") 艦艇情報
          th(colspan="4") 艦艇統計
          th(colspan="4") プレイヤー統計
        
        tr
          td プレイヤー名
          td 艦艇名
          td 艦種
          td Tier
          td 国籍
          td 艦艇隠蔽距離
          td 魚雷射程

          td 戦闘数
          td 勝率
          td ダメージ
          td K/D

          td 戦闘数
          td 勝率
          td ダメージ
          td K/D
          
        tr(v-for="player of enemies")
          // プレイヤー情報
          td
            {{ player.player_stat.name }}

          // 艦艇情報
          td
            {{ player.ship_info.name }}
          td
            div(v-if="player.ship_info.type === 'AirCarrier'")
              img(v-bind:src="images.AirCarrier.image")
            div(v-else-if="player.ship_info.type === 'Battleship'")
              img(v-bind:src="images.Battleship.image")
            div(v-else-if="player.ship_info.type === 'Cruiser'")
              img(v-bind:src="images.Cruiser.image")
            div(v-else-if="player.ship_info.type === 'Destroyer'")
              img(v-bind:src="images.Destroyer.image")
            div(v-else)
              {{ player.ship_info.type }}
          td
            {{ player.ship_info.tier }}
          td
            {{ nations[player.ship_info.nation] }}
          td
            {{ player.ship_info.detect_distance_by_ship }}
          td
            {{ player.ship_info.torpedoes_distance }}

          // 艦艇統計
          td
            {{ player.ship_stat.battles }}
          td
            {{ player.ship_stat.win_rate }}
          td
            {{ player.ship_stat.average_damage }}
          td
            {{ player.ship_stat.kill_death_rate }}
          
          // プレイヤー統計
          td
            {{ player.player_stat.battles }}
          td
            {{ player.player_stat.win_rate }}
          td
            {{ player.player_stat.average_damage }}
          td
            {{ player.player_stat.kill_death_rate }}
  script(src='/javascripts/vue.js')
