extends layout

block content
  div#app
    div(v-for="team of players")
      table(class="table table-sm table-striped")
        thead(class="thead-dark")
          th(colspan="1") プレイヤー情報
          th(colspan="6") 艦艇情報
          th(colspan="4") 艦艇統計
          th(colspan="5") プレイヤー統計

        tr
          td プレイヤー名

          td 艦名
          td 艦種
          td Tier
          td 国籍
          td 隠蔽
          td 魚雷

          td 戦闘数
          td 勝率
          td 与ダメ
          td K/D

          td 戦闘数
          td 勝率
          td 与ダメ
          td K/D
          td 平均Tier
          
        tr(v-for="player of team")
          // プレイヤー情報
          td
            div(v-if="player.player_stat.is_myself == true")
              p(class="font-weight-bold") {{ player.player_stat.clan_tag }}{{ player.player_stat.name }}
            div(v-else)
              {{ player.player_stat.clan_tag }}{{ player.player_stat.name }}

          // 艦艇情報
          td {{ player.ship_info.name }}
          td
            div(v-if="player.ship_info.type === 'AirCarrier'")
              img(v-bind:src="images.AirCarrier.image")
            div(v-else-if="player.ship_info.type === 'Battleship'")
              img(v-bind:src="images.Battleship.image")
            div(v-else-if="player.ship_info.type === 'Cruiser'")
              img(v-bind:src="images.Cruiser.image")
            div(v-else-if="player.ship_info.type === 'Destroyer'")
              img(v-bind:src="images.Destroyer.image")
            div(v-else) {{ player.ship_info.type }}
          td {{ player.ship_info.tier }}
          td {{ nations[player.ship_info.nation] }}
          td {{ player.ship_info.detect_distance_by_ship }}
          td {{ player.ship_info.torpedoes_distance }}

          // 艦艇統計
          td {{ player.ship_stat.battles }}
          td {{ player.ship_stat.win_rate }}
          td {{ player.ship_stat.average_damage }}
          td {{ player.ship_stat.kill_death_rate }}
          
          // プレイヤー統計
          td {{ player.player_stat.battles }}
          td {{ player.player_stat.win_rate }}
          td {{ player.player_stat.average_damage }}
          td {{ player.player_stat.kill_death_rate }}
          td {{ player.player_stat.average_tier }}
  script(src='/javascripts/vue.js')
