extends layout

block content
  if isValid != null
    h2= message
  form(action='/install', method='post')
    div(class='form-group')
      label(for='appid') アプリケーションID
      input(type='text', class='form-control', id='appid', name='appid', placeholder="Application ID")
    div(class='form-group') 
      label(for='region') サーバ
      select(class='form-control', id='region', name='region')
        option RU
        option EU
        option NA
        option ASIA
    div(class='form-group')
      label(for='application_id') インストール先
      input(type='text', class='form-control', id='directory', name='directory', placeholder="例) C:¥Games¥World_of_Warships")
    div(class='submit', style='margin-top: 25px')
      button(type='submit', class='btn btn-primary mb-2') 保存
