body {
    padding: 4px;
}

.custom-dark {
  background-color: #212529;
  color: #FFFFFF;
}

.table {
  width: 100%;
  margin-bottom: 0.25rem;
}

.table-sm td, .table-sm th {
  padding: .10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 0;
}

a {
  color: #00B7FF;
  display: inline;
}

.clan-tag {
  color: #B6FF01;
}

.ship-name-dark {
  color: #212529;
  text-overflow: ellipsis;

}

.ship-name-light {
  color: #FFFFFF
}

.bad {
  color: #FE0E00;
}

.below-average {
  color: #FE7903;
}

.average {
  color: #FFC71F;
}

.good {
  color: #44B300;
}

.very-good {
  color: #318000;
}

.great {
  color: #02C9B3;
}

.unicum {
  color: #DA45FF;
}

.super-unicum {
  color: #C9CACA;
}
