body {
    padding: 4px;
}

.custom-dark {
  background-color: #212529;
  color: #FFFFFF;
}

.table {
  width: 100%;
  margin-bottom: 0.25rem;
}

.table-sm td, .table-sm th {
  padding-top: .10rem;
  padding-bottom: .10rem;
  white-space: nowrap;
}

.form-group {
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 1rem;
}

.submit {
  margin-top: 1rem;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

a {
  color: #00B7FF;
  display: inline;
}

.clan-tag {
  color: #B6FF01;
}

.ship-name-dark {
  color: #212529;
  text-overflow: ellipsis;

}

.ship-name-light {
  color: #FFFFFF
}

.bad {
  color: #FE0E00;
}

.below-average {
  color: #FE7903;
}

.average {
  color: #FFC71F;
}

.good {
  color: #44B300;
}

.very-good {
  color: #318000;
}

.great {
  color: #02C9B3;
}

.unicum {
  color: #DA45FF;
}

.super-unicum {
  color: #C9CACA;
  background-color: #DA45FF;
}

.cp {
  width: 7ch;
}

.pr {
  width: 4ch;
}

.tier {
  width: 2ch;
}

.damage {
  width: 6ch;
}

.win {
  width: 4ch;
}

.kd {
  width: 4ch;
}

.exp {
  width: 4ch;
}

.battles {
  width: 5ch;
}

.tier-avg {
  width: 3cf;
}

.info-icon {
  height: 16px;
  width: 16px;
}

.loading-icon {
  height: 24px;
  width: 24px;
  margin: 0.25rem;
}
