footer
#footer
  div(style='margin: 12px')
    center 
      p
        | © 2018
        script
          | new Date().getFullYear()>2018 && document.write("-"+new Date().getFullYear())
        |  tona0516 All Rights Reserved.<br>
        | Twitter: 
        a(href="https://twitter.com/tonango_0516" target="_blank")
          | @tonango_0516<br>
        | GitHub: 
        a(href="https://github.com/tona0516/wows-stats-extended" target="_blank")
          | wows-stats-extended<br>
        