extends ./layout

block content
  #app
    div(v-if='message')
      .alert.alert-primary {{ message }}
    div(v-if='error')
      .alert.alert-danger {{ error }}
    div.table-responsive(v-if='teams' v-for='team of teams')
      table.table.table-sm.table-dark.table-bordered
        thead
          th.align-center(colspan='3') Player
          th.align-center(colspan='2') Ship info
          th.align-center(colspan='5') Ship stats
          th.align-center(colspan='6') Player stats
        tr
          td.align-center(style="width: 160px") Player name
          td.align-center CP
          td.align-center PR
          td.align-center(style="width: 160px") Ship name
          td.align-center Tier
          td.align-center Dmg.
          td.align-center Win(%)
          td.align-center K/D
          td.align-center Exp.
          td.align-center Battles
          td.align-center Dmg.
          td.align-center Win(%)
          td.align-center K/D
          td.align-center Exp.
          td.align-center Battles
          td.align-center Tier avg.
        tr(v-for='player of team.users')
          // プレイヤー情報
          td.ellipsis
            a(:href="player.playerInfo.statsURL" target="_blank")
              image.info-icon(src='../images/information.png')
            font.clan-tag(v-if='player.playerInfo.clan') [{{ player.playerInfo.clan }}]
            font {{ player.playerInfo.name }}
          // 戦闘力
          td.bad.align-right.cp(v-if="player.shipStats.combatPower < 10000")
            | {{ player.shipStats.combatPower }}
          td.below-average.align-right.cp(v-else-if="player.shipStats.combatPower < 20000")
            | {{ player.shipStats.combatPower }}
          td.average.align-right.cp(v-else-if="player.shipStats.combatPower < 30000")
            | {{ player.shipStats.combatPower }}
          td.good.align-right.cp(v-else-if="player.shipStats.combatPower < 80000")
            | {{ player.shipStats.combatPower }}
          td.great.align-right.cp(v-else-if="player.shipStats.combatPower < 150000")
            | {{ player.shipStats.combatPower }}
          td.unicum.align-right.cp(v-else-if="player.shipStats.combatPower < 1000000")
            | {{ player.shipStats.combatPower }}
          td.super-unicum.align-right.cp(v-else-if="player.shipStats.combatPower >= 1000000")
            | {{ player.shipStats.combatPower }}
          td.align-right.cp(v-else)
            | {{ player.shipStats.combatPower }}
          // PR
          td.bad.align-right.pr(v-if="player.shipStats.personalRating < 750")
            | {{ player.shipStats.personalRating }}
          td.below-average.align-right.pr(v-else-if="player.shipStats.personalRating < 1100")
            | {{ player.shipStats.personalRating }}
          td.average.align-right.pr(v-else-if="player.shipStats.personalRating < 1350")
            | {{ player.shipStats.personalRating }}
          td.good.align-right.pr(v-else-if="player.shipStats.personalRating < 1550")
            | {{ player.shipStats.personalRating }}
          td.very-good.align-right.pr(v-else-if="player.shipStats.personalRating < 1750")
            | {{ player.shipStats.personalRating }}
          td.great.align-right.pr(v-else-if="player.shipStats.personalRating < 2100")
            | {{ player.shipStats.personalRating }}
          td.unicum.align-right.pr(v-else-if="player.shipStats.personalRating < 2450")
            | {{ player.shipStats.personalRating }}
          td.super-unicum.align-right.pr(v-else-if="player.shipStats.personalRating >= 2450")
            | {{ player.shipStats.personalRating }}
          td.align-right.pr(v-else)
            | {{ player.shipStats.personalRating }}
          // 艦名
          td.bg-success.ship-name-light.ellipsis(v-if="player.shipInfo.type === 'AirCarrier'")
            a(v-if='player.shipInfo.statsURL', :href="player.shipInfo.statsURL" target="_blank")
              image.info-icon(src='../images/information.png')
            | {{ player.shipInfo.name }}
          td.bg-danger.ship-name-light.ellipsis(v-else-if="player.shipInfo.type === 'Battleship'")
            a(v-if='player.shipInfo.statsURL', :href="player.shipInfo.statsURL" target="_blank")
              image.info-icon(src='../images/information.png')
            | {{ player.shipInfo.name }}
          td.bg-warning.ship-name-dark.ellipsis(v-else-if="player.shipInfo.type === 'Cruiser'")
            a(v-if='player.shipInfo.statsURL', :href="player.shipInfo.statsURL" target="_blank")
              image.info-icon(src='../images/information.png')
            | {{ player.shipInfo.name }}
          td.bg-info.ship-name-dark.ellipsis(v-else-if="player.shipInfo.type === 'Destroyer'")
            a(v-if='player.shipInfo.statsURL', :href="player.shipInfo.statsURL" target="_blank")
              image.info-icon(src='../images/information.png')
            | {{ player.shipInfo.name }}
          td.bg-light.ship-name-dark.ellipsis(v-else-if="player.shipInfo.type === 'Submarine'")
            a(v-if='player.shipInfo.statsURL', :href="player.shipInfo.statsURL" target="_blank")
              image.info-icon(src='../images/information.png')
            | {{ player.shipInfo.name }}
          td(v-else)
            a(v-if='player.shipInfo.statsURL', :href="player.shipInfo.statsURL" target="_blank")
              image.info-icon(src='../images/information.png')
            | {{ player.shipInfo.name }}
          // Tier
          td.align-right {{ player.shipInfo.tier }}
          // 艦別統計
          // 与ダメ
          td.align-right {{ player.shipStats.averageDamage }}
          // 勝率
          td.bad.align-right(v-if="player.shipStats.winRate < 40")
            | {{ player.shipStats.winRate }}
          td.below-average.align-right(v-else-if="player.shipStats.winRate < 45")
            | {{ player.shipStats.winRate }}
          td.average.align-right(v-else-if="player.shipStats.winRate < 50")
            | {{ player.shipStats.winRate }}
          td.good.align-right(v-else-if="player.shipStats.winRate < 55")
            | {{ player.shipStats.winRate }}
          td.great.align-right(v-else-if="player.shipStats.winRate < 60")
            | {{ player.shipStats.winRate }}
          td.unicum.align-right(v-else-if="player.shipStats.winRate < 65")
            | {{ player.shipStats.winRate }}
          td.super-unicum.align-right(v-else-if="player.shipStats.winRate >= 65")
            | {{ player.shipStats.winRate }}
          td.align-right(v-else)
            | {{ player.shipStats.winRate }}
          // K/D
          td.align-right {{ player.shipStats.killDeathRate }}
          // 経験値
          td.align-right {{ player.shipStats.averageExperience }}
          // 戦闘数
          td.align-right {{ player.shipStats.battles }}
          // プレイヤー統計
          // 与ダメ
          td.align-right {{ player.playerStats.averageDamage }}
          // 勝率
          td.bad.align-right(v-if="player.playerStats.winRate < 40")
            | {{ player.playerStats.winRate }}
          td.below-average.align-right(v-else-if="player.playerStats.winRate < 45")
            | {{ player.playerStats.winRate }}
          td.average.align-right(v-else-if="player.playerStats.winRate < 50")
            | {{ player.playerStats.winRate }}
          td.good.align-right(v-else-if="player.playerStats.winRate < 55")
            | {{ player.playerStats.winRate }}
          td.great.align-right(v-else-if="player.playerStats.winRate < 60")
            | {{ player.playerStats.winRate }}
          td.unicum.align-right(v-else-if="player.playerStats.winRate < 65")
            | {{ player.playerStats.winRate }}
          td.super-unicum.align-right(v-else-if="player.playerStats.winRate >= 65")
            | {{ player.playerStats.winRate }}
          td.align-right(v-else)
            | {{ player.playerStats.winRate }}
          // K/D
          td.align-right {{ player.playerStats.killDeathRate }}
          // 経験値
          td.align-right {{ player.playerStats.averageExperience }}
          // 戦闘数
          td.align-right {{ player.playerStats.battles }}
          // 平均Tier
          td.align-right {{ player.playerStats.averageTier }}
        tr.table-active
          // プレイヤー情報
          td Team ave.
          td.align-right {{ team.average.shipStats.combatPower }}
          td.align-right {{ team.average.shipStats.personalRating }}
          // 艦艇情報
          td {{ team.average.shipInfo.name }}
          td.align-right {{ team.average.shipInfo.tier }}
          // 艦艇統計
          td.align-right {{ team.average.shipStats.averageDamage }}
          td.align-right {{ team.average.shipStats.winRate }}
          td.align-right {{ team.average.shipStats.killDeathRate }}
          td.align-right {{ team.average.shipStats.averageExperience }}
          td.align-right {{ team.average.shipStats.battles }}
          // プレイヤー統計
          td.align-right {{ team.average.playerStats.averageDamage }}
          td.align-right {{ team.average.playerStats.winRate }}
          td.align-right {{ team.average.playerStats.killDeathRate }}
          td.align-right {{ team.average.playerStats.averageExperience }}
          td.align-right {{ team.average.playerStats.battles }}
          td.align-right {{ team.average.playerStats.averageTier }}
    div(class='submit', style='margin-top: 12px')
      center
        button(type='submit', class='btn btn-success mb-2', onclick="location.href='/configure'") Configure

block script
  script(src='../javascripts/index.js')
